body {
    background-image: url("../images/lysflath_large_mod.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center; 
    background-color: #cccccc;
}